body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  nav {
    background: #333;
    color: white;
    display: flex;
    padding: 10px;
    justify-content:center;
    
    

    
  }
  nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: large;
  }
  #u{
    width: 85%;
  }
  #logooo{
    height: 30px;
  }
  .k:hover{
    border: 2px solid white;
  }
  h1{
    display: flex;
    justify-content: center;
  }
  
  #form{
    display: flex;
    justify-content: center;
  }
  .l{
    display: flex;
    

  }
  input{
    background-color: lightgray;
    font-size: larger;
    width: 500px;
    
    
  }
  textarea{
    background-color: lightgray;
    width: 500px;
    height: 100px;
    font-size: larger;
  }
button{
    color: white;
    background-color:navy;
    width: 70px;
    height: 30px;
    font-size: larger;
    display: flex;
}
label{
    font-size: larger;
    color:navy;
}

#info{
  display: flex;
  
  flex-direction: column;
}
.p{
    display: flex;
    justify-content: center;
    font-size: larger;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


  footer {
    text-align: center;
    background: #333;
    color: white;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    
  }
 