*{
  justify-content: center;

  
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  nav {
    background: #333;
    color: white;
    display: flex;
    padding: 10px;
    justify-content:center;
    

    
  }
  .i:hover{
    border: 2px solid white;
  }
  #s{
    width: 85%;
    
  }
  #logo{
    height: 30px;
  }
  
  nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: large;
  }
  
  #name {
    font-size: 30px;
    width: 700px;
    height: 400px;
    padding: 20px;
  }
  
  footer {
    text-align: center;
    background: #333;
    color: white;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    
  }
  #container{
    width: 1500px;
    height: 700px;
    display: flex;
    flex-direction: row;
  }
  img{
    background-image: contain;
  }
 h1{
  font-family: serif;
  font-style: italic;
  color: darkblue;
 }
h1{
  display: flex;
}
 h2{
  display: flex;
  text-decoration:underline;
  
 }
#content{
  display: flex;
  flex-direction: column;
}
